<!DOCTYPE html>
<html>
<head>
    <title>网上通讯录</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../style/plugins.css">
    <link rel="stylesheet" type="text/css" href="../style/home.css">
</head>
<body>
<div class="navigation-button">
    <a href="index.html"><p>登录</p></a>
</div>
<div class="hero">
    <div class="front-content">
        <div class="container-mid">
            <div>
                <h1>欢迎来到网上通讯录！</h1>
            </div>
            <div>
                <p class="subline">此通讯录为计算机系历届各专业学生建立</p>
            </div>
        </div>
    </div>
    <div class="background-content parallax-on">
        <div class="background-content-inner">
            <div class="background-overlay"></div>
            <div class="background-img layer" data-depth="0.05"></div>
        </div>
    </div>
</div>
</body>
</html>